<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="66fbeb9b-9847-46c6-81ba-2a4e12b425ca"
    Version="1.0.0.0"
    Publisher="CN=Admin" />

  <Properties>
    <DisplayName>Store_JS_Download_Image_Xhr</DisplayName>
    <PublisherDisplayName>Admin</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="Store_JS_Download_Image_Xhr"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="Store_JS_Download_Image_Xhr"
        ForegroundText="light"
        BackgroundColor="#464646">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
